.LogoText {
  color: black;
  font-size: 24px;
  font-weight: 500;
}

.Logo-container {
  min-width: 5vw;
  font-weight: bold; /* Make the text bold */
  display: flex;
  align-items: center; /* Align text and bars vertically */
  justify-content: center;
  color: black;
  border: 2px red solid;
}

.logo-barsImg {
  height: var(--l);
  width: var(--m);
}
