.LogoText {
  color: black;
  font-size: 30px;
  font-weight: 500;
}

.Logo-container {
  height: 10vh;
  width: 15vw;
  padding-left: 3vh;
  font-size: 36px; /* Adjust the size as needed */
  font-weight: bold; /* Make the text bold */
  display: flex;
  align-items: center; /* Align text and bars vertically */
  color: black;
}

.LogoBar1 {
  width: 3px; /* Width of the bars */
  height: 23px; /* Height of the bars */
  background-color: black; /* Color of the bars */
  margin-left: 2px; /* Space between text and bars */
  border-radius: 10px;
  /* Add more bars as needed, adjust margin and positioning */
}

.LogoBar2 {
  width: 3px; /* Width of the bars */
  height: 20px; /* Height of the bars */
  background-color: black; /* Color of the bars */
  margin-left: 2px; /* Space between text and bars */
  border-radius: 10px;
  vertical-align: 7%;
  /* Add more bars as needed, adjust margin and positioning */
}

.LogoBar3 {
  width: 3px; /* Width of the bars */
  height: 12px; /* Height of the bars */
  background-color: black; /* Color of the bars */
  margin-left: 2px; /* Space between text and bars */
  border-radius: 10px;
  vertical-align: 22%;
  /* Add more bars as needed, adjust margin and positioning */
}
