.NavBar-container {
  width: 100vw;
  height: 3em;
  display: flex;
  box-sizing: border-box;
  padding-left: 3vh;
  padding-right: 3vh;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.NavBar-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
