.tab-container {
  display: flex;
  width: 15em;
  height: 3em;
  justify-content: space-between;
  align-items: center;
}

.icon-square-container {
  width: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.icon-container {
  width: 3em;
  height: 50%;
}

.bottom-border {
  width: 100%;
  height: 0; /* Initial height is zero */
  border-bottom: 0px solid white; /* Initial color (white) */
  transition: border-bottom 0.3s, border-color 0.5s; /* Transition for height and border-color */
}

.icon-container:hover .bottom-border {
  border-bottom: 3px solid var(--primary);
  border-color: var(--primary); /* Color when expanded (orange) */
}

.icon-imageContainer {
  width: 28px;
  height: 28px;
  padding-bottom: 5px;
}

.label-container {
  font-size: 10px;
  width: 100%;
  border-radius: 20px;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  color: black;
  background-color: var(--grey);
  opacity: 0;
  transition: opacity 0.5s; /* Add a transition for opacity */
}

.icon-container:hover + .label-container {
  opacity: 1; /* Set opacity to 1 when .icon-container is hovered */
}

.no-underline {
  text-decoration: none; /* Remove underline */
  /* Additional styling if needed */
}
