.video-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-section video {
  position: absolute;
  top: 50%; /* center the video in the container */
  left: 50%;
  transform: translate(-50%, -50%); /* center the video in the container */
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
