.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* This ensures that the container fits the full viewport height */
  width: 100vw; /* This ensures that the container fits the full viewport width */
}
