.feed-background-container {
  position: fixed;
  display: flex;

  flex-direction: column;
  align-items: center;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 3em);
  overflow: auto;
  background-color: var(--grey);
  z-index: -1;
}

.feed-endPosts {
  color: var(--darkgrey);
}
/* 
.feed-container {
  width: 60%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  white-space: nowrap;
  border: 2px red solid;
} */
