.feed-background-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 3em);
  overflow: auto;
  background-color: var(--grey);
  z-index: -1;
}

.feed-posts-container {
  display: flex;
  min-width: 50%;
  max-height: 100%;
  padding: var(--l);
  flex-direction: column;
  align-items: end;
  box-sizing: border-box;
  overflow: auto;
}

.feed-activityFriends-container {
  display: flex;
  align-items: start;
  min-width: 50%;
  min-height: 100%;
  padding: var(--l);
  box-sizing: border-box;
  flex-direction: column;
}

.feed-endPosts {
  color: var(--darkgrey);
}

.feed-text {
  text-align: center;
}
