.info-background-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95vw;
  height: calc(100vh - 3em);
  overflow: auto;
  background-color: var(--grey);
  padding-left: 48px;
  padding-right: 48vw;
  z-index: -1;
}
