/* Fill me in :) */

.overlay-container {
  display: flex;
  flex-direction: row;
  top: 3em;
  height: calc(100vh - 3em); /* This ensures that the container fits the full viewport height */
  width: 100%; /* This ensures that the container fits the full viewport width */
  justify-content: space-around; /* This will distribute space above and below the items equally */
  align-items: center;
  position: absolute; /* Positioning over the video */
}

@media only screen and (max-aspect-ratio: 9/8) {
  .overlay-container {
    display: flex;
    flex-direction: column;
    top: 3em;
    height: calc(100vh - 3em); /* This ensures that the container fits the full viewport height */
    width: 100%; /* This ensures that the container fits the full viewport width */
    justify-content: space-around; /* This will distribute space above and below the items equally */
    align-items: center;
    position: absolute; /* Positioning over the video */
  }
}

.feed-background-container {
  position: fixed;
  display: flex;

  flex-direction: column;
  align-items: center;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 3em);
  overflow: auto;
  background-color: var(--grey);
  z-index: -1;
}

/* Styling for fly-in components */

@keyframes fly-in {
  to {
    left: 0; /* Move to the original position */
    opacity: 1; /* Fade in */
  }
}

.laptop-example-container {
  height: 350px;
  width: 600px;
}

@media only screen and (max-aspect-ratio: 9/8) {
  .text-container {
    margin-top: 200px;
    color: white;
    text-align: center; /* Aligns the text to the left */
    font-size: 100px;
    font-weight: 300;
    min-width: 50vw;
    z-index: 2; /* To ensure text appears above the video */
  }

  .word-rotator {
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 100px;
    font-weight: 900;
    height: 1.5em; /* Set the height to the height of one line of text */
    width: 100vw; /* Make sure the container takes the full width */
    left: -100%; /* Start off-screen to the left */
    opacity: 0; /* Start with 0 opacity */
    animation: fly-in 1.25s ease forwards; /* Apply the animation */
    transition: opacity 1.25s ease; /* Apply the fade-in transition */
    color: white;
  }
}
.text-container {
  color: white;
  text-align: left; /* Aligns the text to the left */
  font-size: 70px;
  font-weight: 300;
  width: 40vw;
  z-index: 2; /* To ensure text appears above the video */
}

.text-container-glass {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  width: 40vw;
  z-index: 2;
}

.text-fly-container-1 {
  position: relative;
  left: -100%;
  opacity: 0; /* Start with 0 opacity */
  animation: fly-in 1s ease forwards; /* Apply the animation */
  transition: opacity 1s ease; /* Apply the fade-in transition */
  color: white;
  /* Add additional styling for your text here */
}

.text-fly-container-2 {
  position: relative;
  left: -100%;
  opacity: 0; /* Start with 0 opacity */
  animation: fly-in 1.5s ease forwards; /* Apply the animation */
  transition: opacity 1.5s ease; /* Apply the fade-in transition */
  /* Add additional styling for your text here */
}

/* Styling for rotating word box */

.word-rotator {
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 100px;
  font-weight: 900;
  height: 1.5em; /* Set the height to the height of one line of text */
  width: 50vw; /* Make sure the container takes the full width */
  left: -100%; /* Start off-screen to the left */
  opacity: 0; /* Start with 0 opacity */
  animation: fly-in 1.25s ease forwards; /* Apply the animation */
  transition: opacity 1.25s ease; /* Apply the fade-in transition */
  color: white;
}

.rotating-word {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
  z-index: 0;
}
