/* Fill me in :) */
.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* This ensures that the container fits the full viewport height */
  width: 100vw; /* This ensures that the container fits the full viewport width */
}

.overlay-container {
  display: flex;
  flex-direction: row;
  top: 96px;
  height: calc(100vh - 96px); /* This ensures that the container fits the full viewport height */
  width: 100vw; /* This ensures that the container fits the full viewport width */
  justify-content: space-around; /* This will distribute space above and below the items equally */
  align-items: center;
  position: absolute; /* Positioning over the video */

  color: white;
  text-align: left; /* Aligns the text to the left */
  font-size: 50px;
}

.text-container {
  color: white;
  text-align: left; /* Aligns the text to the left */
  font-size: 70px;
  font-weight: 300;
  width: 40vw;
  z-index: 2; /* To ensure text appears above the video */
  /* Add additional styling for your text here */
}

.word-rotator {
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 70px;
  font-weight: 900;
  height: 1.5em; /* Set the height to the height of one line of text */
  width: 50vw; /* Make sure the container takes the full width */
}

.rotating-word {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
  z-index: 0;
}
