.profile-background-container {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 3em);
  overflow: auto;
  background-color: var(--grey);
  z-index: -1;
}

/*subdivide containers*/
.profile-left-container {
  display: flex;
  align-items: end;
  min-width: 50%;
  min-height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: var(--l);
  box-sizing: border-box;
  overflow: auto;
  flex-direction: column;
}

.profile-right-container {
  display: flex;
  align-items: start;
  min-width: 50%;
  max-height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: var(--l);
  box-sizing: border-box;
  overflow: auto;
  flex-direction: column;
}

/* actual containers */
.profile-pfp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-edit-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  height: 3em;
  width: 3em;
  margin: var(--l);
  border-radius: 50%;
  background-color: var(--primary);
  border: 2px var(--primary) solid;
  color: white;
  font-size: var(--m);
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-edit-container:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  transform: scale(1.1);
  color: var(--primary);
}

.profile-edit-container:active {
  transform: scale(0.9); /* Scale down on click */
}

.profile-editSpinner-container {
  border: 4px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  height: 3em;
  width: 3em;
  font-size: var(--m);
  border-top: 4px var(--primary) solid;
  margin: 10px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-pfp {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-pfpFileSelected-container {
  font-size: 12px;
  color: black;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile-pfpUpload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border: 2px var(--primary) solid;
  color: white;
  margin-top: 10px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;
  min-height: 2em;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.profile-pfpUpload-container:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  transform: scale(1.05);
  color: var(--primary);
}

.profile-pfpUpload-container:active {
  transform: scale(0.95); /* Scale down on click */
}

.profile-allTextInput-container .profile-textInputTitle-container {
  display: flex;
  flex-direction: column;
}

.profile-textInputTitle-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.profile-personalInfo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 40vw;
  max-width: 40vw;
  min-height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  padding: var(--l);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-personalInfo-text {
  font-size: var(--m);
}

.profile-textInput-container {
  display: flex;
  align-items: center;
  background-color: var(--grey);
  height: 3em;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.profile-textInput-container.editable:hover,
.profile-textInput-container.editable:focus-within {
  background-color: var(--medgrey);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.newExercise-search-image {
  height: 100%;
}

.profile-textInput {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
  height: 100%;
  width: 80%;
  border-radius: 20px;
}
