.big-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.small-container {
  position: absolute;
  top: 50%; /* center the video in the container */
  left: 50%;
  transform: translate(-50%, -50%); /* center the video in the container */
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
  object-fit: cover;
  background-color: grey;
  border: 2px red solid;
}
