.workout-background-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 3em);
  overflow: auto;
  background-color: var(--grey);
  z-index: -1;
}

@media only screen and (max-aspect-ratio: 9/8) {
  .workout-background-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1em;
    height: calc(100vh - 3em);
    overflow: auto;
  }
}
