.comment-container {
  display: flex;
  align-items: start;
  border-radius: 20px;
  margin: 5px;
  width: auto;
  height: auto;
}

.comment-profilePicture-container {
  padding: 10px;
  height: 2em;
  width: 2em;
}

.comment-profilePicture {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

.comment-nameAndComment-container {
  display: flex;
  flex-direction: column;
  background-color: var(--medgrey);
  border-radius: 20px;
  padding: 10px;
  height: auto;
  width: auto;
  font-size: 0.7em;
  align-items: center;
  color: black;
}

.comment-name {
  font-weight: 700;
  height: auto;
  width: 100%;
}

.comment-comment {
  height: auto;
  width: 100%;
  overflow-wrap: auto;
}
