.comment-container {
  margin: 5px;
  display: flex;
  align-items: start;
  border-radius: 20px;
  width: auto;
  height: auto;
}

.comment-profilePicture-container {
  height: 2em;
  width: 2em;
  padding-right: 5px;
}

.comment-profilePicture {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.comment-profilePicture:hover {
  cursor: pointer;
}

.comment-nameAndComment-container {
  display: flex;
  flex-direction: column;
  background-color: var(--medgrey);
  border-radius: 20px;
  padding: 10px;
  height: auto;
  width: auto;
  font-size: 0.7em;
  align-items: start;
  color: black;
}

.comment-nameTime-container {
  display: flex;
  align-items: end;
}

.comment-time {
  font-size: 0.9em;
  font-weight: 200;
  margin-left: 5px;
  color: grey;
}

.comment-name {
  font-size: 0.9em;
  font-weight: 700;
  height: auto;
  width: 100%;
}

.comment-comment {
  height: auto;
  font-size: 0.8em;
  width: 100%;
  overflow-wrap: auto;
}
