.exerciseSection-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  margin-bottom: 5px;
}

.exerciseSection-text-container {
  color: black;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.exerciseSection-set-container {
  display: flex;
  width: 30vw;
  font-size: 30px;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}
