.exerciseSection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.2s transform;
}

.exerciseSection-container-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.2s transform;
}

.exerciseSection-selected-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  min-height: 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--darkgrey);
}

.exerciseSection-container:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.exerciseSection-container:active {
  transform: scale(0.98); /* Scale down on click */
}

.exerciseSection-trashCan {
  height: 1em;
  width: 1em;
  transition: 0.3s transform;
}

.exerciseSection-trashCan:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.exerciseSection-trashCan:active {
  transform: scale(0.9); /* Scale down on click */
}

.exerciseSection-text-container {
  display: flex;
  align-items: center;
  color: black;
  width: 50%;
  padding: 5px;
  font-size: var(--m);
  overflow-wrap: break-word;
}

.exerciseSection-set-container {
  display: flex;
  width: 50%;
  align-items: center;
  border-radius: 20px;
  overflow: auto;
  white-space: nowrap;
}

.exerciseSection-pr {
  background-color: red;
  color: white;
  font-size: var(--m);
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  border-radius: 20px;
}
