.postTop-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: var(--m);
  height: auto;
}

.postTop-profilePicture-container {
  height: 3em;
  width: 3em;
}

.postTop-profilePicture {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  /* Centering on image`s center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

.postTop-profilePictureAndDescription {
  display: flex;
}

.postTop-profileNameFollowTime-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;

  height: 50;
}

.postTop-profileName {
  color: black;
}

.postTop-profileDescription {
  color: grey;
}

.postTop-personalBest-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  color: var(--primary);
}

.postTop-personalBestText {
  color: var(--primary);
}

.postTop-star {
  color: var(--primary);
  height: 1.5em;
  width: 1.5em;
  transition: transform 0.3s;
}

.postTop-star:hover {
  transform: scale(1.1); /* Scale up on hover */
  cursor: pointer;
}

.postTop-star:active {
  transform: scale(0.9); /* Scale down on click */
}
