/* FOR VIEWING */
.setSquare-container {
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 5px;
  height: 3em;
  width: 3em;
  background-color: var(--primary);
  border-radius: 20px;
}

.setSquare-text-top {
  color: black;
  justify-content: center;
  display: flex;
  font-size: var(--m);
  align-items: center;
  border-bottom: 1px black solid;
}

.setSquare-text {
  color: black;
  justify-content: center;
  display: flex;
  font-size: var(--m);
  align-items: center;
  border-top: 1px black solid;
}

/* FOR CREATION */
.setSquare-container-create {
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
  box-sizing: border-box;
  height: 3em;
  width: 3em;
  background-color: var(--primary);
  border-radius: 20px;
  transition: 0.3s transform, 0.3s background-color;
  z-index: 2;
}

.setSquare-text-top-create {
  color: black;
  justify-content: center;
  display: flex;
  font-size: var(--m);
  align-items: center;
  border-bottom: 1px black solid;
}

.setSquare-text-create {
  color: black;
  justify-content: center;
  display: flex;
  font-size: var(--m);
  align-items: center;
  border-top: 1px black solid;
}

.setSquare-container-create:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  color: var(--primary);
}

.setSquare-container-create:active {
  transform: scale(0.97); /* Scale down on click */
}

.setSquare-container-create-chosen {
  display: flex;
  flex-shrink: 0;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
  box-sizing: border-box;
  height: 3em;
  width: 3em;
  background-color: white;
  border: 2px var(--primary) solid;
  border-radius: 20px;
  transition: 0.3s transform, 0.3s background-color;
  z-index: 2;
}

.set-square-date {
  position: absolute; /* or 'relative' depending on your layout */
  top: 0;
  left: 0;
  padding: 2px 5px; /* Adjust as needed */
  font-size: 0.5em; /* Adjust as needed */
  /* Other styles like background-color, color, etc. */
}

@media only screen and (max-aspect-ratio: 9/8) {
  .setSquare-container {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--primary);
    border-radius: 20px;
  }
  .setSquare-text-top {
    color: black;
    justify-content: center;
    display: flex;
    font-size: var(--xl);
    align-items: center;
    border-bottom: 1px black solid;
  }

  .setSquare-text {
    color: black;
    justify-content: center;
    display: flex;
    font-size: var(--xl);
    align-items: center;
    border-top: 1px black solid;
  }

  .setSquare-container-create {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    width: 5em;
    height: 5em;
    background-color: var(--primary);
    border-radius: 20px;
  }
  .setSquare-text-top-create {
    color: black;
    justify-content: center;
    display: flex;
    font-size: var(--xl);
    align-items: center;
    border-bottom: 1px black solid;
  }

  .setSquare-text-create {
    color: black;
    justify-content: center;
    display: flex;
    font-size: var(--xl);
    align-items: center;
    border-top: 1px black solid;
  }

  .setSquare-container-create:hover {
    background-color: white; /* New background color on hover */
    cursor: pointer;
    color: var(--primary);
  }

  .setSquare-container-create:active {
    transform: scale(0.97); /* Scale down on click */
  }

  .setSquare-container-create-chosen {
    display: flex;
    flex-shrink: 0;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    box-sizing: border-box;
    height: 5em;
    width: 5em;
    background-color: white;
    border: 2px var(--primary) solid;
    border-radius: 20px;
    transition: 0.3s transform, 0.3s background-color;
    z-index: 2;
  }
}
