.setSquare-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
  width: 10vh;
  height: 10vh;
  background-color: var(--primary);
  border-radius: 20px;
}

.setSquare-text-top {
  color: black;
  justify-content: center;
  display: flex;
  font-size: 15px;
  align-items: center;
  border-bottom: 1px black solid;
}

.setSquare-text {
  color: black;
  justify-content: center;
  display: flex;
  font-size: 15px;
  align-items: center;
  border-top: 1px black solid;
}
