.fitbot-chat-container {
  display: flex;
  flex-direction: column;
  max-height: 55vh; /* Adjust the height as needed */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--grey);
}

@media only screen and (max-aspect-ratio: 9/8) {
  .fitbot-chat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
}
.bold-text {
  font-weight: 1000 !important;
}

.fitbot-chat-empty-text {
  align-self: center;
  font-size: var(--m);
  margin: 10px;
}

.fitbot-chat-messages {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 100%; /* Make sure it fills the parent container */
  overflow-y: auto; /* Allow scrolling */
}

.chat-message {
  display: flex;
  align-items: center;
}

.chat-message.bot {
  display: flex;
  align-items: center;
}

.chat-message.user {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-start;
}

.chat-bubble-container {
  display: flex;
  flex-direction: column;
}

.chat-bubble-username.bot {
  font-size: 12px;
  margin-left: 5px;
}

.chat-bubble-username.user {
  align-self: flex-end;
  font-size: 12px;
  margin-right: 5px;
}

.chat-bubble-image {
  width: 1em; /* Example size, adjust as needed */
  height: 40px; /* Example size, adjust as needed */
  border-radius: 50%; /* Circular images */
  margin: 5px; /* Space between image and text */
  margin-bottom: 10px;
  align-self: flex-end;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.chat-bubble {
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.chat-bubble-image {
  width: 1.5em; /* Example size, adjust as needed */
  height: 1.5em; /* Example size, adjust as needed */
  border-radius: 50%; /* Circular images */
  background-color: white;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.chat-bubble.bot {
  background-color: #e9e9eb; /* Light gray for bot messages */
  color: black;
  max-width: 60%;
  border-radius: 20px 20px 20px 0;
  align-self: flex-start; /* Default alignment for messages */
}

.chat-bubble.user {
  background-color: #007bff; /* Blue for user messages */
  color: white;
  max-width: 60%;
  border-radius: 20px 20px 0 20px;
  align-self: flex-end; /* Default alignment for messages */
}

.fitbot-chat-input {
  display: flex;
  padding: 10px;
  background-color: white;
  border-top: 1px solid #ccc;
}

.fitbot-chat-input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fitbot-chat-input button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff; /* Button in blue */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.fitbot-chat-input button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Your existing styles */
.fitbot-chatSuggestion-container {
  height: calc(6em + 7px);
  font-size: 12px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  overflow: hidden;
}

.fitbot-chatSuggestion {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  box-sizing: border-box;
  margin-top: 5px;
  height: 2em;
  background-color: var(--primary);
  color: white;
  border: 2px var(--primary) solid;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  transition: opacity 0.5s ease, transform 0.3s ease, background-color 0.3s ease;
}
.fading-out {
  opacity: 0;
}
.fitbot-chatSuggestion:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  color: var(--primary);
}

.fitbot-chatSuggestion:active {
  transform: scale(0.9); /* Scale down on click */
}

.fitbot-addCommentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 1.5em;
  width: 100%;
  border-radius: 20px;
  border: 2px var(--primary) solid;
}

.fitbot-addCommentInput {
  height: 90%;
  width: 90%;
  margin-left: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 20px;
}

.fitbot-addCommentPost {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  background-color: var(--primary);
  color: white;
  border: 2px var(--primary) solid;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  transform: scale(1.1);
}

.fitbot-addCommentPost:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  color: var(--primary);
}

.fitbot-addCommentPost:active {
  transform: scale(0.9); /* Scale down on click */
}

.fitbot-spinner-container {
  border: 4px solid rgba(255, 255, 255, 0.3);
  align-self: center;
  top: 0;
  right: 0;
  height: 3em;
  width: 3em;
  font-size: var(--m);
  border-top: 4px var(--primary) solid;
  margin: var(--l);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
