.friends-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 40vw;
  max-width: 40vw;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: var(--m);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.friends-title-container {
  display: flex;
  width: 100%;
}
.friends-title {
  text-align: left;
  font-weight: 600;
  font-size: var(--l);
}
