.friend-section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
  transition: 0.3s background-color;
}

.friend-section:hover {
  background-color: var(--grey);
}

.avatar {
  border-radius: 50%;
  width: 50px; /* Adjust based on actual size */
  height: 50px; /* Adjust based on actual size */
}

.avatar:hover {
  cursor: pointer;
}

.friend-info {
  flex-grow: 1;
  padding-left: 10px; /* Space between avatar and text */
}

.friend-name {
  font-weight: bold;
  font-size: 0.7em;
}

.friend-followButton {
  border-radius: 20px;
  border: none;
  padding: 10px;
  transition: 0.3s transform;
}

.friend-followButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.friend-followButton:active {
  transform: scale(0.9);
}
.social-icon {
  font-size: 1.5em; /* Adjust based on actual icons */
  margin-left: 10px; /* Space between icons */
}

.friend-followBack {
  color: grey;
  font-size: 0.5em;
  margin-right: 5px;
}
