.activityTracker-container {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  max-height: 20vh;
  min-width: 40vw;
  max-width: 40vw;
  border-radius: 20px;
  padding: var(--m);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.activityTracker-title {
  text-align: left;
  font-weight: 600;
  font-size: var(--l);
}
