.newExercise-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: var(--l);
  box-sizing: border-box;
  height: 100%;
  min-width: 40vw;
  max-width: 40vw;
  border-radius: 20px;
  padding: var(--l);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-aspect-ratio: 9/8) {
  .newExercise-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    min-height: 40vh;
    max-height: 40vh;
    min-width: 80vw;
    max-width: 80vw;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}

.newExercise-search-container {
  display: flex;
  align-items: center;
  background-color: var(--grey);
  height: 3em;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.newExercise-search-container:hover,
.newExercise-search-container:focus-within {
  background-color: var(--medgrey);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.newExercise-search-image {
  height: 100%;
}

.newExercise-exerciseInput {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 20px;
  height: 100%;
  width: 80%;
  border-radius: 20px;
}

.newExercise-exerciseRecommendation {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--m);
  background-color: var(--primary);
  color: white;
  margin: 5px;
  border: 2px var(--primary) solid;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.newExercise-exerciseRecommendation:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  transform: scale(1.1);
  color: var(--primary);
}

.newExercise-exerciseRecommendation:active {
  transform: scale(0.9); /* Scale down on click */
}

.newExercise-setNumber-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2em;
  width: 100%;
}

.newExercise-setDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  width: 1.5em;
  transition: 0.3s transform;
}

.newExercise-setDelete:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.newExercise-setDelete:active {
  transform: scale(0.9); /* Scale down on click */
}

.newExercise-setInfo-container {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.newExercise-setInfoIndividual-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 10em;
  background-color: var(--grey);
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.newExercise-setInfoIndividual-container:hover,
.newExercise-setInfoIndividual-container:focus-within {
  background-color: var(--medgrey);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.newExercise-setInfoIndividual-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 2em;
}

.newExercise-setInfoIndividual-titleText {
  max-height: 1em;
  margin-bottom: 8px;
  box-sizing: border-box;
  text-align: center;
}

.newExercise-setInfoIndividual-subText {
  min-height: 1.5em;
  font-size: var(--m);
  color: grey;
  text-align: center;
}

.newExercise-setInfoIndividual-input {
  font-size: 4em;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  height: 70%;
}

.newExercise-previousSets-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 25%;
  width: 100%;
}

.newExercise-previousSets-text {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--l);
}

.newExercise-previousSets-sets {
  display: flex;
  align-items: center;
  height: 70%;
  width: 100%;
  overflow: auto;
}

.newWorkout-finishButton-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: auto;
  min-height: 4em;
  width: 100%;
  align-items: center;
}

.newWorkout-errorSubmit-text {
  font-size: var(--m);
  color: red;
}

.newExercise-finishButton {
  height: 4em;
  width: 100%;
  font-size: var(--m);
  box-sizing: border-box;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 5px;
  background-color: var(--primary);
  color: white;
  border: 2px var(--primary) solid;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.newExercise-finishButton:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  transform: scale(1.02);
  color: var(--primary);
}

.newExercise-finishButton:active {
  transform: scale(0.97); /* Scale down on click */
}
