.newWorkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  max-height: 90%;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-aspect-ratio: 9/8) {
  .newWorkout-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    max-height: 50%;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}

.newWorkout-title {
  width: 100%;
  font-size: var(--m);
}

.newWorkout-reminderText {
  width: 100%;
  color: grey;
  font-size: var(--m);
}

.newWorkout-exerciseBox {
  width: 100%;
  background-color: var(--grey);
  border-radius: 20px;
  overflow: auto;
}

.newWorkout-newExercise {
  height: 3em;
  width: 90%;
  font-size: var(--m);
  background-color: var(--primary);
  color: white;
  margin: 5px;
  border: 2px var(--primary) solid;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  transform: scale(1.1);
}

.newWorkout-newExercise:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  color: var(--primary);
}

.newWorkout-newExercise:active {
  transform: scale(0.9); /* Scale down on click */
}
