.newWorkout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--l);
  box-sizing: border-box;
  height: 100%;
  min-width: 40vw;
  max-width: 40vw;
  border-radius: 20px;
  padding: var(--l);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-aspect-ratio: 9/8) {
  .newWorkout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
    min-height: 40vh;
    max-height: 40vh;
    min-width: 80vw;
    max-width: 80vw;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
}

.newWorkout-topHalf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.newWorkout-title {
  width: 100%;
  font-size: var(--l);
}

.newWorkout-reminderText {
  width: 100%;
  color: grey;
  font-size: var(--m);
}

.newWorkout-exerciseBox {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 5px;
  background-color: var(--grey);
  border-radius: 20px;
  box-sizing: border-box;
  max-height: 50vh;
  width: 100%;
  overflow: auto;
}

@media only screen and (max-aspect-ratio: 9/8) {
  .newWorkout-exerciseBox {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 5px;
    background-color: var(--grey);
    border-radius: 20px;
    box-sizing: border-box;
    max-height: 25vh;
    width: 100%;
    overflow: auto;
  }
}

.newWorkout-newExercise {
  height: 3em;
  width: 100%;
  font-size: var(--m);
  background-color: var(--primary);
  color: white;
  margin: 5px;
  border: 2px var(--primary) solid;
  border-radius: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.newWorkout-newExercise:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  color: var(--primary);
}

.newWorkout-newExercise:active {
  transform: scale(0.9); /* Scale down on click */
}

.newWorkout-errorPost-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 4em;
  min-width: 100%;
}

.newWorkout-postBox {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
}

.newWorkout-postError {
  color: red;
  font-size: var(--m);
}

.newWorkout-postBoxButton {
  height: 4em;
  width: 48%;
  font-size: var(--m);
  background-color: var(--primary);
  color: white;
  box-sizing: border-box;
  border: 2px var(--primary) solid;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.newWorkout-postBoxButton-save {
  height: 4em;
  width: 48%;
  font-size: var(--m);
  background-color: var(--darkgrey);
  color: black;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.newWorkout-postBoxButton:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  transform: scale(1.02);
  color: var(--primary);
}

.newWorkout-postBoxButton:active {
  transform: scale(0.97); /* Scale down on click */
}

.newWorkout-postBoxButton-save:hover {
  background-color: white; /* New background color on hover */
  cursor: pointer;
  transform: scale(1.02);
  color: var(--primary);
  border: 2px var(--primary) solid;
}

.newWorkout-postBoxButton-save:active {
  transform: scale(0.97); /* Scale down on click */
}
